.postsBlock {
    outline: 2px solid;
    margin-left: 20px;
    margin-top: 10px;
    padding: 0 10px 0 15px;
}

.getPostsBtn {
    background: lightgreen;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.showPostTitle {
    width: 85%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postLine {
    background: lightsteelblue;
}