.usersBlock {
    outline: 2px solid;
    width: 400px;
    height: 180px;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.usersFirstname,
.usersLastname {
    width: 90%;
    height: 30px;
}

.showUsersName {
    display: flex;
    gap: 70px;
}